<div  data-role="panel" id="leftpanel" data-display="reveal" data-theme="a">
    <h2>Menü</h2>
    <ul data-role="listview" data-theme="a" class="nav-search" data-inset="false" id="menu_side">
        <li class="active" data-icon="false">
            <a href="<?= $controller->url_for("quickdial") ?>" class="externallink" data-ajax="false" class="contentLink">
                <img src="<?= $plugin_path ?>/public/images/quickdial/bw/quick.png"   class="ui-li-icon ui-corner-none"> Start
            </a>
        </li>
        <li data-icon="false"><a href="<?= $controller->url_for("activities") ?>" class="externallink" data-ajax="false" class="contentLink">
        <img src="<?= $plugin_path ?>/public/images/quickdial/bw/news.png"   class="ui-li-icon ui-corner-none" />
        News
    </a></li>
    <li data-icon="false"><a href="<?= $controller->url_for("calendar") ?>" class="externallink" data-ajax="false" class="contentLink">
        <img src="<?= $plugin_path ?>/public/images/quickdial/bw/schedule.png"   class="ui-li-icon ui-corner-none" />
        Planer
    </a></li>
    <li data-icon="false"><a href="<?= $controller->url_for("mails") ?>" class="externallink" data-ajax="false" class="contentLink">
        <img src="<?= $plugin_path ?>/public/images/quickdial/bw/mail.png"   class="ui-li-icon ui-corner-none" />
        Nachrichten
    </a></li>
    <li data-icon="false"><a href="<?= $controller->url_for("courses") ?>" class="externallink" data-ajax="false" class="contentLink">
        <img src="<?= $plugin_path ?>/public/images/quickdial/bw/seminar.png"   class="ui-li-icon ui-corner-none" />
        Kurse
    </a></li>
    <li data-icon="false"><a href="<?= $controller->url_for("profiles/show") ?>" class="externallink" data-ajax="false" class="contentLink">
        <img src="<?= $plugin_path ?>/public/images/quickdial/bw/profile.png"   class="ui-li-icon ui-corner-none" />
        Ich
    </a></li>
    </ul>
    <ul data-role="listview" data-theme="a" class="nav-search" data-inset="false" id="kurse_side" style="margin-top:30px;">

    </ul>
    <script type="text/javascript">
        $.getJSON('http://localhost/~nbussman/studip2/public/plugins.php/studipmobile/courses/json_courses', function(data) {
            $.each(data, function(key, val) {
                $("#kurse_side").append('<li class="ui-btn ui-btn-icon-right ui-li ui-li-has-icon ui-last-child ui-btn-up-a" id="' + val.id + '"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="<?= $controller->url_for("courses/show", htmlReady($course['Seminar_id'])) ?>" class="externallink ui-link-inherit"><img src="<?= $plugin_path ?>/public/images/quickdial/bw/seminar.png"   class="ui-li-icon ui-corner-none" />' + val.name + '</a></div></div></li>');
            });
        });
    </script>
</div><!-- /panel -->